.modgit/

*.psd
*.fla
*.eps

*.com
*.class
*.dll
*.exe
sftp-config.json
/sftp-config.json
*sftp-config.json
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.eot

inc/c.php
/inc/c.php
config.php
wp-config.php
*.htaccess
*.vhost
*wp-config.php

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
_notes/
_originals/
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dwsync.xml

git/
